@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="AddItemToOrderCart">
        <table>
            <tr>
                <td>From Currency</td>
                <td><input type="text" id="from_id" name="txtFrom" /></td>
            </tr>
            <tr>
                <td>To Currency</td>
                <td><input type="text" id="to_id" name="txtTo" /></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="text" id="amount_id" name="txtAmount" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
    <form method="post" action="AddItemToOrderCart">
        <h1>Login Form</h1>
          <div class="formcontainer">
             <hr/>
              <div class="container">
                    <label for="txtFrom"><strong>From Currency</strong></label>
                    <input type="text"  id="from_id" placeholder="EUR" name="txtFrom" required>

                    <label for="txtTo"><strong>To Currency</strong></label>
                    <input type="text" id="to_id" placeholder="GBP" name="txtTo" required>

                     <label for="txtAmount"><strong>Amount</strong></label>
                    <input type="text"  id="amount_id" placeholder="Enter Amount to convert" name="txtAmount" required>
            </div>
          </div>
          <button type="submit">Login</button>
         </form>

</body>
</html>




