@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="Orders\AddItemToOrderCart">
        <table>
            <tr>
                <td>From Currency</td>
                <td><input type="text" id="from_id" name="txtFrom" /></td>
            </tr>
            <tr>
                <td>To Currency</td>s
                <td><input type="text" id="to_id" name="txtTo" /></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="text" id="amount_id" name="txtAmount" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>


